@if (course) {
<div class="course-card" #container>
    <div class="course-title">{{ index }}: {{ course.description }}</div>

    @if(course.iconUrl) {
    <ng-content select="course-image" />
    } @else {
    <p class="warn">{{ course.description }} has no image yet</p>
    <img src="/assets/empty-image.png" />
    }
    <ng-content select=".course-description" />

    <div class="course-category">
        @switch(course.category) { @case ('BEGINNER') {
        <div class="category">Beginner</div>
        } @case ('INTERMEDIATE') {
        <div class="category">Intermediate</div>
        } @case ('ADVANCED') {
        <div class="category">Advanced</div>
        } @default {
        <div class="category">Unknown</div>
        }}
    </div>

    <button (click)="onCourseView()">View Course</button>
</div>
}
