<div class="top-menu">
    <img class="logo" [src]="imgSource" />
</div>

<button (click)="onCoursesEdited()">Edit Courses</button>

<div class="courses">
    @if(courses[0]; as course) {

    <ng-template #blankImage let-courseName="description">
        <p class="warn">{{ courseName }} has no image yet</p>
        <img src="/assets/empty-image.png" />
    </ng-template>

    <ng-container
        *ngTemplateOutlet="
            blankImage;
            context: { description: course.description }
        "
    ></ng-container>

    <hr />

    <course-card
        (courseSelected)="onCourseSelected($event)"
        [course]="course"
        [index]="1"
    >
        <course-image [src]="course.iconUrl"></course-image>

        <div class="course-description">
            {{ course.longDescription }}
        </div>
    </course-card>
    }
</div>
